body {
    background-image: url(./assets/image/backplace.png);
    background-position: top;
}


.menu img {
    height: 100px;
    width: 100px;
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    flex-direction: column;
    
}


.sobre {
    background-color: #fff; 
    padding: 20px; 
    text-align: center; 
    margin-top: 10px; 
    margin-right: 150px; 
    margin-left: 150px; 
}

.sobre img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
}


.sobre .titulo1 {
    font-size: 24px; 
    color: #333;
    margin-bottom: 10px;
}


.sobre p {
    font-size: 16px;
    color: #666; 
    line-height: 1.5; 
}
.servicos {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}

.contato {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}

.localizacao {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    margin-right: 150px;
    margin-left: 150px;
}

.menu {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    color: black;
    margin-right: 150px;
    margin-left: 150px;
}

.menu .nav .nav-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
